<?php
// Отправляем браузеру правильную кодировку,
// файл index.php должен быть в кодировке UTF-8 без BOM.
header('Content-Type: text/html; charset=UTF-8');
// В суперглобальном массиве $_SERVER PHP сохраняет некторые заголовки запроса HTTP
// и другие сведения о клиненте и сервере, например метод текущего запроса $_SERVER['REQUEST_METHOD'].
if ($_SERVER['REQUEST_METHOD'] == 'GET') {
   // Массив для временного хранения сообщений пользователю.
	$messages = array();
  // В суперглобальном массиве $_COOKIE PHP хранит все имена и значения куки текущего запроса.
  // Выдаем сообщение об успешном сохранении.
  if (!empty($_COOKIE['save'])) {
	  // Удаляем куку, указывая время устаревания в прошлом.
    setcookie('save', '', 100000);
    setcookie('login', '', 100000);
    setcookie('password', '', 100000);
	// Если есть параметр save, то выводим сообщение пользователю.
    $messages[] = 'Спасибо, результаты сохранены.';
 }
 if (!empty($_COOKIE['password'])) {
  $messages[] = sprintf('Вы можете <a href="login.php">войти</a> с логином <strong>%s</strong>
    и паролем <strong>%s</strong> для изменения данных.',strip_tags($_COOKIE['login']),strip_tags($_COOKIE['password']));
}
   // Складываем признак ошибок в массив.
 $errors=array();
 $errors['fio']=!empty($_COOKIE['fio_error']);	
 $errors['mail']=!empty($_COOKIE['mail_error']);
 $errors['sex']=!empty($_COOKIE['sex_error']);
 $errors['countlimbs']=!empty($_COOKIE['countlimbs_error']);
 $errors['super']=!empty($_COOKIE['super_error']);
 $errors['biography']=!empty($_COOKIE['biography_error']);
 $errors['check1']=!empty($_COOKIE['check1_error']);
// Выдаем сообщения об ошибках.
 if ($errors['fio']) {
	 // Удаляем куку, указывая время устаревания в прошлом.
    setcookie('fio_error', '', 100000); //в скобках пишем (название cookie, значение cookie, время)
	   // Выводим сообщение.
    $messages[] = '<div class="error">Вы не заполнили имя.</div>';
  }

  if ($errors['mail']) {
    setcookie('mail_error', '', 100000);
    $messages[] = '<div class="error">Корректно заполните email.</div>';
  }

 if ($errors['sex']) {
    setcookie('sex_error', '', 100000);
    $messages[] = '<div class="error">Укажите пол.</div>';
  }

 if ($errors['countlimbs']) {
    setcookie('countlimbs_error', '', 100000);
    $messages[] = '<div class="error">Укажите количество конечностей.</div>';
  }

 if ($errors['super']) {
    setcookie('super_error', '', 100000);
    $messages[] = '<div class="error">Укажите сверхспособность.</div>';
  }

 if ($errors['biography']) {
    setcookie('biography_error', '', 100000);
    $messages[] = '<div class="error">Напишите биографию.</div>';
  }

 if ($errors['check1'])  {
     setcookie('check1_error', '', 100000);
     $messages[]= '<div class="error">Примите соглашение.</div>';
 }
// Складываем предыдущие значения полей в массив, если есть.
 $values = array();
//Если $_COOKIE['fio_value'] пустое,то значение будет '', иначе $_COOKIE['fio_value']
 $values['fio']=empty($_COOKIE['fio_value']) ? '' : $_COOKIE['fio_value'];
 $values['mail']=empty($_COOKIE['mail_value']) ? '' : $_COOKIE['mail_value'] ;
 $values['year'] = empty($_COOKIE['year_value']) ? '' : $_COOKIE['year_value'];
 $values['sex']=empty($_COOKIE['sex_value']) ? '' : $_COOKIE['sex_value'];
 $values['countlimbs']=empty($_COOKIE['countlimbs_value']) ? '' : $_COOKIE['countlimbs_value'];
 $values['super']=empty($_COOKIE['super_value']) ? '' : $_COOKIE['super_value'];
 $values['biography']=empty($_COOKIE['biography_value']) ? '' : $_COOKIE['biography_value'];
 // Если нет предыдущих ошибок ввода, есть кука сессии, начали сессию и
  // ранее в сессию записан факт успешного логина.
  $er=false;
  foreach($errors as $el)
    if ($el == true)
      $er = true;
  if (empty($er) && !empty($_COOKIE[session_name()]) && 
  session_start() && !empty($_SESSION['login'])) {
// TODO: загрузить данные пользователя из БД
// и заполнить переменную $values,
// предварительно санитизовав.
  $user = 'u24014';
  $password = '6041366';
  $db = new PDO('mysql:host=localhost;dbname=u24014', $user, $password, array(PDO::ATTR_PERSISTENT => true));
  $uid = $_SESSION['uid'];
  $res= $db->query("SELECT fio, mail, year, sex, countlimbs, biography FROM application WHERE id = $uid");
  foreach($res as $el){
    $values['fio']=strip_tags($el['fio']);
    $values['mail']=strip_tags($el['mail']);
    $values['year']=strip_tags($el['year']);
    $values['sex']=strip_tags($el['sex']);
    $values['countlimbs']=strip_tags($el['countlimbs']);
    $values['biography']=strip_tags($el['biography']);
  }
  $res= $db->query("SELECT nom_spw FROM spw WHERE id = $uid");
  $sup = array();
  foreach($res as $el){
    $sup[]=(int)strip_tags($el['nom_spw']);
  }
  $sp = implode('',$sup);
  $values['super'] =$sp;
  printf('Вход с логином %s, uid %d', $_SESSION['login'], $_SESSION['uid']);
}
  

 // Включаем содержимое файла form.php.
  // В нем будут доступны переменные $messages, $errors и $values для вывода 
  // сообщений, полей с ранее заполненными данными и признаками ошибок.
 include('form.php');

}
// Иначе, если запрос был методом POST, т.е. нужно проверить данные и сохранить их в XML-файл.
else {
  // Проверяем ошибки.
  setlocale(LC_ALL, "ru_RU.UTF-8");
	$errors = FALSE;
  
	if (empty($_POST['fio']) || preg_match('/[^(\x7F-\xFF)|(\s)]/', $_POST['fio'])) {
		    // Выдаем куку на день с флажком об ошибке в поле fio.
	  setcookie('fio_error', '1', time() + 24 * 60 * 60);
	  $errors = TRUE;
	}
  
	else {
		  // Сохраняем ранее введенное в форму значение на месяц.
	  setcookie('fio_value', $_POST['fio'], time() + 30 * 24 * 60 * 60);
	}
  
  
	if (empty($_POST['mail'])){
	  setcookie('mail_error', '1', time() + 24 * 60 * 60);
	  $errors=TRUE;
	}
  
	else{
	  setcookie('mail_value', $_POST['mail'], time()+ 30 * 24 * 60 * 60);
	}
  
	if (empty($_POST['sex'])){
	  setcookie('sex_error', '1', time() + 24 * 60 * 60);
	  $errors=TRUE;
	}
  
	else{
	  setcookie('sex_value', $_POST['sex'], time()+ 30 * 24 * 60 * 60);
	}
  
  
	if (empty($_POST['countlimbs'])){
	  setcookie('countlimbs_error', '1', time() + 24 * 60 * 60);
	  $errors=TRUE;
	}
  
	else{
	  setcookie('countlimbs_value', $_POST['countlimbs'], time()+ 30 * 24 * 60 * 60);
	}
  
  
   if (empty($_POST['super'])){
	   setcookie('super_error', '1', time() + 24 * 60 * 60);
	   $errors=TRUE;
	 }
	  else{
	  $super=implode('',$_POST['super']);
	  setcookie('super_value', $super, time()+ 30 * 24 * 60 * 60);
	  }
	  
  
	if (empty($_POST['biography'])){
	  setcookie('biography_error', '1', time() + 24 * 60 * 60);
	  $errors=TRUE;
	}
  
	else{
	  setcookie('biography_value', $_POST['biography'], time()+ 30 * 24 * 60 * 60);
	}
  
  if(empty($_POST['check1'])){
		  setcookie('check1_error', '1', time()+ 24 * 60 * 60);
		  $errors=TRUE;
	  }
      setcookie('year_value', $_POST['year'], time() + 30 * 24 * 60 * 60);
	
    // При наличии ошибок перезагружаем страницу и завершаем работу скрипта.  
	if ($errors) {
	  header('Location: index.php');
	  exit();
	}
	else {
		// Удаляем Cookies с признаками ошибок.
	  setcookie('fio_error', '', 100000);
	  setcookie('mail_error', '', 100000);
	  setcookie('sex_error', '', 100000);
	  setcookie('countlimbs_error', '', 100000);
	  setcookie('super_error', '', 100000);
	  setcookie('biography_error', '', 100000);
	  setcookie('check1_error', '', 100000);
	}
  
	$user = 'u24014';
	$password = '6041366';
	$db = new PDO('mysql:host=localhost;dbname=u24014', $user, $password, array(PDO::ATTR_PERSISTENT => true));
// Проверяем меняются ли ранее сохраненные данные или отправляются новые.
if (!empty($_COOKIE[session_name()]) &&
session_start() && !empty($_SESSION['login'])) {
// TODO: перезаписать данные в БД новыми данными,
// кроме логина и пароля.

try {
    $uid = $_SESSION['uid'];
    $stmt = $db->prepare("UPDATE application SET fio = ?, mail = ?, year = ?, sex = ?, countlimbs = ?, biography = ? WHERE id = $uid");
    $stmt -> execute([$_POST['fio'],$_POST['mail'],$_POST['year'],$_POST['sex'],$_POST['countlimbs'],$_POST['biography']]);
    
    $db->query("DELETE FROM spw WHERE id = $uid");
    $stmt = $db->prepare("INSERT INTO spw SET id = ?, nom_spw = ?");
    foreach($_POST['super'] as $el)
      $stmt -> execute([$uid,$el]);
  }
  catch(PDOException $e){
    print('Error : ' . $e->getMessage());
    
    exit();
  }
  }
  else{
// Генерируем уникальный логин и пароль.
// TODO: сделать механизм генерации, например функциями rand(), uniquid(), md5(), substr().
$login = substr(uniqid(time()),1,8);
$password = substr(md5($_POST['mail']),5,8);
// Сохраняем в Cookies.
setcookie('login', $login);
setcookie('password', $password);

// TODO: Сохранение данных формы, логина и хеш md5() пароля в базу данных.
  // Сохранение в XML-документ.

  try {
    $str = implode(',',$_POST['super']);
    
    $stmt = $db->prepare("INSERT INTO application SET fio = ?, mail = ?, year = ?, sex = ?, countlimbs = ?, biography = ?");
    $stmt -> execute([$_POST['fio'],$_POST['mail'],$_POST['year'],$_POST['sex'],$_POST['countlimbs'],$_POST['biography']]);
  
    $id = $db->lastInsertId();
    $stmt = $db->prepare("INSERT INTO baza SET id = ?, login = ?, password = ?");
    $stmt -> execute([$id,$login,md5($password)]);
  
    $stmt = $db->prepare("INSERT INTO spw SET id = ?, nom_spw = ?");
    foreach($_POST['super'] as $el)
      $stmt -> execute([$id,$el]);
  }
  catch(PDOException $e){
    print('Error : ' . $e->getMessage());
    exit();
  }
  }
  
    // Сохраняем куку с признаком успешного сохранения.
    setcookie('save', '1');
  
    // Делаем перенаправление.
    header('Location: index.php');
}
